.App {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

canvas {
    touch-action: none;
    position: absolute;
}

.pageScreen {
    width: 90%;
    height: 80%;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 5%;
}

.close-btn {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #ff5c5c; /* Red background */
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close-btn:hover {
    background-color: #ff1c1c; /* Darker red on hover */
}

.close-btn:before,
.close-btn:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 2px;
    background-color: white;
    transform: translate(-50%, -50%) rotate(45deg);
}

.close-btn:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
